.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
}


.strobe {
    height: 500px;
    width: 200px;
    border-right: 4px solid lime;
    background: white;
}

.strobe:hover {
    animation-name: effekt;
    animation-duration: 0.5s;  
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
}

@keyframes effekt {

    from 
    {
        background: white;
    }
    to {
        background: yellow;
    }
}